body {
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 100px 550px 0px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
   justify-content: center;
}

.desc .icon{
  background-color: #444;
  color: #fff;
  padding: 20px;
  font-size: 150%;
   justify-content: center;
  
}

ol li{
  list-style-type: none;

}
ul li{
  list-style-type: none;

}
.level {
    background-color: gray;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}